<header class="header">
    
    <div class="d-flex flex-column justify-content-center align-items-center h-100 px-5">

        <span class="fs-3 fw-bold py-2" style="color: #D2D3DC;">Productos</span>

        <h1 class="fs-1 fw-bolder text-light text-center py-2">Rentabiliza cada etapa <br>
            del ciclo de vida de tus clientes
        </h1>

        <p class="fw-semibold fs-5 text-light text-center py-2">Desde el marketing digital y tradicional, pasando por el CRM, la resolución de casos y la cobranza. <br>
            Todos los puntos de contacto y todas las etapas del customer journey. All-in-one.
        </p>

    </div>

</header>