<ng-container>

    <section class="container py-5" style="background-color: white;">

        <div>
            <h3 class="fw-bold fs-2" style="color: #1D2351;">
                Transformamos <br>
                el Contact Center en
            </h3>

            <div>

                <div>
                    <div>
                        Aqui va el carusel
                    </div>

                    <div>
                        Aqui van los CTA
                    </div>
                </div>

                <div>
                    Aqui va la imagen
                </div>

            </div>
        </div>

    </section>

</ng-container>
