<ng-container>

    <section class="container py-5" style="background-color: white;">

        <div class="d-flex flex-column align-items-center flex-md-row justify-content-between">

            <div class="w-50">

                <h3 class="fw-bold fs-2" style="color: #1D2351;">
                    Transformamos <br>
                    el Contact Center en
                </h3>

                <div>
                    <app-carousel></app-carousel>
                </div>

                <div>
                    <app-cta></app-cta>
                </div>
            </div>

            <div>
                <img src={{src}} alt="..." style="height: 300px;">
            </div>

        </div>

    </section>

</ng-container>